<div class="container">
  <div class="card" style="width: 22rem">
    <img class="card-img-top" src="./assets/bogota.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Bogotá</h5>
      <p class="card-text">
        Bogotá es la extensa capital en altura de Colombia. La Candelaria, su
        centro con adoquines, cuenta con sitios coloniales como el Teatro Colón
        neoclásico y la Iglesia de San Francisco del siglo XVII.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Bogot%C3%A1"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/medellin.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Medellin</h5>
      <p class="card-text">
        Medellín es la capital de la provincia montañosa de Antioquia en
        Colombia. Es apodada la "Ciudad de la eterna primavera" por su clima
        templado y alberga la famosa Feria de las Flores anual.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Medell%C3%ADn"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/sanAndres.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">San Andrés</h5>
      <p class="card-text">
        San Andrés es una pequeña isla colombiana frente a Nicaragua en el
        Caribe. Es famosa por sus playas de arena blanca, cocoteros, aguas
        claras y centros turísticos con todo incluido.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Isla_de_San_Andr%C3%A9s_(Colombia)"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/cartagena.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Cartagena</h5>
      <p class="card-text">
        Cartagena es una ciudad portuaria en la costa caribeña de Colombia.
        Junto al mar, se encuentra la Ciudad Vieja amurallada, que se fundó en
        el siglo XVI, con plazas, calles de adoquines y edificios coloniales
        coloridos.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Cartagena_de_Indias"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/santaMarta.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Santa Marta</h5>
      <p class="card-text">
        Santa Marta es una ciudad ubicada en el mar Caribe, en el departamento
        de Magdalena en el norte de Colombia. Es un puerto ajetreado que también
        fue el primer asentamiento español en Colombia.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Santa_Marta_(Colombia)"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img class="card-img-top" src="./assets/cali.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Cali</h5>
      <p class="card-text">
        Cali es una ciudad colombiana ubicada en el departamento del Valle del
        Cauca, al suroeste de Bogotá. Es conocida por el baile de la salsa, del
        que hay muchos clubes en el suburbio de Juanchito. En el barrio más
        antiguo de Cali, la catedral neoclásica de San Pedro alberga pinturas de
        la Escuela de Quito. Cerca está el Complejo religioso de San Francisco
        de los siglos XVIII y XIX.
      </p>
      <a href="https://es.wikipedia.org/wiki/Cali" class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/ciudadDeMexico.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Ciudad de México</h5>
      <p class="card-text">
        Ciudad de México es la densamente poblada capital de México que se
        encuentra a gran altura. Es famosa por su Templo Mayor (un templo azteca
        del siglo XIII), la Catedral Metropolitana de México, de estilo barroco,
        de los conquistadores españoles y el Palacio Nacional, que alberga
        murales históricos de Diego Rivera.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Ciudad_de_M%C3%A9xico"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img
      class="card-img-top"
      src="./assets/rioDeJaneiro.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Río de Janeiro</h5>
      <p class="card-text">
        Río de Janeiro es una enorme ciudad costera de Brasil, famosa por sus
        playas de Copacabana e Ipanema, la estatua del Cristo Redentor de 38 m
        de alto sobre el cerro del Corcovado y el morro Pan de Azúcar, una cima
        de granito con teleféricos que ascienden a su cima.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/R%C3%ADo_de_Janeiro"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
  <div class="card" style="width: 22rem">
    <img class="card-img-top" src="./assets/panama.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Buenos Aires</h5>
      <p class="card-text">
        Panamá es un país ubicado en el istmo que une América Central y América
        del Sur. El Canal de Panamá, un famoso hito de la ingeniería humana,
        atraviesa su centro y une los océanos Atlántico y Pacífico para crear
        una ruta marítima esencial. En la capital, la ciudad de Panamá, los
        clubes, casinos y rascacielos modernos contrastan con los edificios
        coloniales del Casco Viejo y la selva del Parque Natural Metropolitano.
      </p>
      <a
        href="https://es.wikipedia.org/wiki/Panam%C3%A1"
        class="btn btn-primary"
        >Conoce más</a
      >
    </div>
  </div>
</div>
